<script>
  let current = "";
</script>

<style>
	.myClassName{
	background-color: yellow;
}
</style>

<button class:myClassName={current} class="btn btn-secondary" on:click={() => (current = "messi")}>
  Messi
</button>


<button class:myClassName={current} class="btn btn-secondary" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:myClassName={current} class="btn btn-secondary" on:click={() => (current = "neymar")}>
  Neymar
</button>