<script>
    const favs = {
        name : 'Giulia',
        fav1 : 'Gelato', 
        fav2 : 'Pizza', 
        fav3 : 'Sunny days'
    }
</script>

<p> My name is {favs.name} and these are some of my favourite things: {favs.fav1}, {favs.fav2}, {favs.fav3}</p>