<script>
    function circum(r){
        return "The circumference of a circle with radius "+ r +"m is " + Math.round((2 * Math.PI * r)*100)/100 +"m .";
    }

    const C = circum(4)
</script>

<p>{C}</p>
