<script>
 
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  // Create scale 
  import{scaleLog} from 'd3-scale';
  const scale = scaleLog([1, 10], [1,innerWidth]);

  // Create axis
  import {axisBottom} from 'd3-axis';
  let axis = axisBottom(scale);
  
  import {select} from 'd3-selection';
  const sel = select();

  function xaxis(x){axis(select(x))}
</script>

<style>
  circle{
    fill:steelblue
  }
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
      <circle cx={scale(v)} cy= 50  r=10/>
    {/each}

    <g transform ="translate(0,70)" use:xaxis={"g"}></g>
    <text font-size="10" x=380 y=95>x label</text>
  </g>
</svg>
